.Navigation {
    display: flex;
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}

.Link {
	color: rgb(255, 58, 68);
	list-style: none;
	font-size: 20px;
}


ul{
    display:flex;
    justify-content: space-around;
    width: 100%;
}
ul li {
    list-style-type: none;
}
